.App{
  background-color: #F8F9FA;
  min-height: 100svh;
}

.body_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: min(80%,1400px);
  padding: min(2%,20px);
  background-color:white;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}


/* Tablet */

@media (min-width:570px) {

  .body_container {
    width: min(90%,1400px);
    top: 27%;
  }
}


@media (min-width:800px) {

  .body_container {
    max-width: 80%;
    top: 30%;
  }
}


@media (min-width:1100px) {

  .body_container {
    top: min(34%,200px);
  }

}