@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

/* CSS Reset */
html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h3{
  font-size: .9rem;
}

h4{
  font-size: .65rem;
}

ol, ul {
  list-style: none;
}

/* Global Style Classes */
.flex{
  display: flex;
}

.items-center{
  align-items: center;
}
